---
import "../../../../style/pages/home/client_home.scss";

import BaseLayout from "../../../../layouts/BaseLayout.astro";

import Search from "./Search";
import Categories from "./Categories";
import ProductsSection from "./ProductsSection";
import WatchPosition from "../../../util/WatchPosition";

import { getImage } from "astro:assets";

import search_logo_raw from "../../../../assets/search.svg";
import star from "../../../../assets/star.svg";
import location from "../../../../assets/location.svg";
import arrow from "../../../../assets/arrow.svg";
import Products from "../../../../stores/Products";

const search_logo = await getImage({
    src: search_logo_raw,
    inferSize: true
})

const star_logo = await getImage({
    src: star
})

const location_logo = await getImage({
    src: location
})

const arrow_logo = await getImage({
    src: arrow
})

// http://localhost:5767/resources/products/${product}.jpg?size=32
export const prerender = false
---

<BaseLayout page={"home"}>
    <Fragment slot="head">
        <title>Hortalink</title>
    </Fragment>
    <Fragment slot="body">
        <header>
            <Search client:load search_icon_url={search_logo.src} />
            <Categories category_list={[
                {
                    img_src: `${import.meta.env.PUBLIC_FRONTEND_CDN_URL}/resources/products/cebola.jpg?size=256`,
                    label: "Raízes",
                    product_type: 1
                },
                {
                    img_src: `${import.meta.env.PUBLIC_FRONTEND_CDN_URL}/resources/products/tomate.jpg?size=256`,
                    label: "Frutas",
                    product_type: 11
                },
                {
                    img_src: `${import.meta.env.PUBLIC_FRONTEND_CDN_URL}/resources/products/alface.jpg?size=256`,
                    label: "Folhas",
                    product_type: 3
                }
            ]} client:load />
        </header>
        <main>
            <ProductsSection
                star_image_src={star_logo.src}
                location_image_src={location_logo.src}
                arrow_image_src={arrow_logo.src}

                client:load
            />
        </main>
        <WatchPosition
            client:only="react"
        />
    </Fragment>
</BaseLayout>
