---
import "../../../style/pages/access.scss";
import { Image } from "astro:assets";

import GoogleIcon from "../../../assets/google.svg";
import FacebookIcon from "../../../assets/facebook.svg";
import LinkedinIcon from "../../../assets/linkedin.svg";
---

<section class="signin-options">
    <button name="google" aria-label="Botão para fazer login usando Google">
        <Image 
            src={GoogleIcon}
            alt="Ícone da Google"
            width={40}
        />
        <p>Login com Google</p>
    </button>
    <button name="facebook" aria-label="Botão para fazer login usando Facebook">
        <Image 
            src={FacebookIcon}
            alt="Ícone do facebook"
            width={40}
        />
        <p>Login com Facebook</p>
    </button>
    <button name="linkedin" aria-label="Botão para fazer login usando LinkedIn">
        <Image 
            src={LinkedinIcon}
            alt="Ícone do Linkedin"
            width={45}
            style="margin-bottom: 6px; margin-top: -4px"
        />
        <p>Login com LinkedIn</p>
    </button>
</section>

<script>
    import config from "../../../../config.json";
    const url = config.rest_url

    const buttons = document.querySelector(".signin-options").querySelectorAll<HTMLButtonElement>("button")

    for (const button of buttons) {
        button.addEventListener("click", () => {
            handleExternalLogin(button.name)
        })
    }

    async function handleExternalLogin(oauthType: string) {
        try {
            const response = await fetch(`${import.meta.env.PUBLIC_FRONTEND_API_URL}/v1/oauth/${oauthType}`, {
                method: 'POST',
                credentials: 'include'
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            } else {
                let data = await response.json()

                window.location.href = data.auth_url;
            }
        } catch (error) {
            console.error('There was a problem with the fetch operation: ', error);
        }
    }
</script>