---
import "../../style/navbar.scss";
import { Image } from "astro:assets";

const page = Astro.props.page
const files = import.meta.glob(`../../assets/*.svg`)
const paths = Object.keys(files)

const icons_files = {}

const icons = [
    {
        name: "home",
        slug: "Início"
    },
    {
        name: "bag",
        slug: "Pedidos"
    },
    {
        name: "shop",
        slug: "Loja"
    },
    {
        name: "calendar",
        slug: "Agência"
    },
    {
        name: "user",
        slug: "Conta"
    }
]

const icons_name = icons.map(icon => icon.name)
const hrefs = ["/", "/", "/", "/", "/users/@me"]

for(const icon of icons_name) {
    icons_files[icon] = page === icon ? files[paths.find(path => path.endsWith(`${icon}-solid.svg`))] : files[paths.find(path => path.endsWith(`${icon}.svg`))]
}

interface Props {
    page?: string
}
---

<nav class="nav">
    <div class="nav-content">
        {
            icons.map((icon, index) => (
                <div class="icon_container" id={`icon-${icon}`}>
                    <a href={hrefs[index]}>
                        <Image
                            src={icons_files[icon.name]()}
                            width={24}
                            height={24}
                            alt="Ícone"
                        />
                        <p>{icon.slug}</p>
                    </a>
                </div>
            ))
        }
    </div>
</nav>