---
import { Image } from 'astro:assets';
import Location from "../../../../../assets/location.svg";

import type { Product } from '../../../../../interfaces/Product';
import type { Rating as RatingType } from '../../../../../interfaces/Rating';
import { getImage } from 'astro:assets';

import MostRequested from "./MostRequested";
import CartModal from './CartModal';

import search_logo_raw from "../../../../../assets/search.svg";
import star from "../../../../../assets/star.svg";
import location from "../../../../../assets/location.svg";
import arrow from "../../../../../assets/arrow.svg";
import Rating from '../utils/Rating.astro';

import ProductList from '../../../../../layouts/ProductList';

const search_logo = await getImage({
    src: search_logo_raw,
    inferSize: true
})

const star_logo = await getImage({
    src: star
})

const location_logo = await getImage({
    src: location
})

const arrow_logo = await getImage({
    src: arrow
})

interface Props {
    product: Product
}

const product = Astro.props.product
---

<main>
    <div class="description">
        <section class="description_title">
            <h2>Descrição</h2>
            <a href="/">Ver agenda</a>
        </section>
        <p>{product.product.description || "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque veniam, ut quos beatae excepturi explicabo voluptas tempora aut pariatur aliquam facere, vero iure. Eos iste placeat quas magnam quae laboriosam?"}</p>
    </div>
    <div class="line" />
    <section class="seller">
       
        <div class="seller_title">
            <h2>Vendido por</h2>
            <div class="location on_end">
                <p>1,2km</p>
                <Image
                    src={Location}
                    alt="Ícone de um GPS, o texto ao lado esquerdo é a distância aproximada que você está do produto."
                    width={16}
                    height={16}
                />
            </div>
        </div>
        <div class="seller_infos">
            <a href={`/users/${product.seller.id}`}>
                <div class="seller_name">
                    <div class="img_container">
                        <Image
                            src=`${import.meta.env.PUBLIC_FRONTEND_CDN_URL}/avatars/${product.seller.id}/${product.seller.avatar}.jpg?size=256`
                            alt="Foto de perfil do vendedor",
                            width={57}
                            height={57}
                        />
                    </div>
                    <h2>{product.seller.name}</h2>
                </div>
                <Rating
                    rate={{
                        quantity: 5,
                        rating: 4.2
                    }}
                />
                </div>
            </a>
    </section>
    <div class="line" />
    <div class="most_requested">
        <div class="most_requested_title">
            <h2>Mais pedidos</h2>
            <a href="/">Ver mais</a>
        </div>
        <MostRequested
            star_image_src={star_logo.src}
            location_image_src={location_logo.src}
            arrow_image_src={arrow_logo.src}

            client:load
        />
    </div>
    <CartModal />
</main>

<script>
    import geoLocation from "../../../../../util/geoLocation";

    geoLocation.watchPosition()
</script>